
<div class="row">
  <div class="col-12">
    <button class="btn btn-warning btn-block p-2" (click)="tableToggle()">{{buttonText}}</button>
  </div>
  <div class="col-12"
  *ngIf="showTable">
  <mat-tab-group>
    <mat-tab label="Info">  <table class="table table-sm table-striped table-hover mt-3">
      <tbody>
        <tr *ngIf = "member.email">
          <td>Email</td>
          <td>{{member.email}}</td>
        </tr>
      <tr>
        <td>Height</td>
        <td>{{member.height}}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{member.age}}</td>
      </tr>
      <tr>
        <td>Sex</td>
        <td>{{member.sex}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{formattedAddress}}</td>
      </tr>
      </tbody>
    </table> </mat-tab>
    <mat-tab label="Map"> Content 2 </mat-tab>
  </mat-tab-group>
  </div>
</div>
