<div class="row">
    <div class="col-1">
        <div  >
            <!-- This div gets turned on if rating is less than 1 -->
                    <i class="fa fa-star-o fa-2x" aria-hidden="true"> </i>
    </div>
        <div  >
            <!-- This div gets turned on only rating is less than 2 -->
        <i class="fa fa-star fa-2x" aria-hidden="true"> </i>   
    </div>
    </div>
    <div class="col-1">
        <i class="fa fa-star-o fa-2x" aria-hidden="true"> </i>   
    </div>
    <div class="col-1">
        <i class="fa fa-star-o fa-2x" aria-hidden="true"> </i>   
    </div>
    <div class="col-1">
        <i class="fa fa-star-o fa-2x" aria-hidden="true"> </i>   
    </div>
    <div class="col-1">
        <i class="fa fa-star-o fa-2x" aria-hidden="true"> </i>   
    </div>
</div>
Rating variable = {{member.rating}}
<!-- <i class="fa fa-star fa-2x" aria-hidden="true"> </i>
<i class="fa fa-star-half-full fa-2x" aria-hidden="true"> </i> -->
