
<div class="row">
    <div class="col-12">
    <div class="col-12 border border-grey bg-primary py-4">
        {{screen}}
    </div>
</div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('1',false)">1</button>
    </div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('2',false)">2</button>
    </div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('3',false)">3</button>
    </div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button"  (click)="buttonPress('+',true)">+</button>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('4',false)">4</button>
    </div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('5',false)">5</button>
    </div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('6',false)">6</button>
    </div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('-',true)">-</button>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('7', false)">7</button>
    </div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('8', false)">8</button>
    </div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('9',false)">9</button>
    </div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('/', true)">÷</button>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('0',false)">0</button>
    </div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button">.</button>
    </div>
    <div class="col-3">
        <button class= "btn btn-primary my-2" type= "button" (click)="buttonPress('*', true)">X</button>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <button class= "btn btn-primary my-2" type= "button" (click)="clear()">Clear</button>
    </div>
    <div class="col-6">
        <button class= "btn btn-primary my-2" type= "button" (click)="calculateResults()">=</button>
    </div>
</div>